@keyframes chatBubbleInsertion {
    0% {
        opacity: 0;
        transform: translateX(10px) scale(0.95);
    }
    60% {
        opacity: 1;
        transform: translateX(-5px) scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.chat-bubble-animation {
    animation: chatBubbleInsertion 0.37s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes chatBubbleOtherInsertion {
    0% {
        opacity: 0;
        transform: translateX(-10px) scale(0.95);
    }
    60% {
        opacity: 1;
        transform: translateX(5px) scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.chat-bubble-other-animation {
    animation: chatBubbleOtherInsertion 0.37s cubic-bezier(0.25, 0.8, 0.25, 1);
}
