.animate-gradient-x {
    position: absolute;
    inset: 0;
    background-size: 200% 100%;
    animation: gradientFlow 5s ease infinite;
}

/* smooth gradient transition x and y */
@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.selected {
    scale: 1.7;
    transition: scale 0.24s;
}



.messageBubbleClass {
    position: relative;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.messageBubbleClass::after, .messageBubbleClass::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 24px;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
     animation: 3s spin linear infinite;
}

.messageBubbleClass::before{
  filter: blur(1.5rem);
  opacity: 0.15;
  overflow: visible;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}