.animate-gradient-x {
    position: absolute;
    inset: 0;
    background-size: 200% 100%;
    animation: gradientFlow 5s ease infinite;
}

/* smooth gradient transition x and y */
@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.selected {
    scale: 1.7;
    transition: scale 0.24s;
}
